@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #E9E9E9;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 5px 2px -2px gray;
  max-width: 100vw;
  padding:12px 0;
}
header img {
  width: 420px;
}
.header-wrap {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.header-wrap p:last-of-type {
	margin-left: auto;
}

main {
  max-width: 1400px;
  background-color: #fff;
  margin: 0 auto;
  padding: 130px 40px;
}

h1 {
  border-bottom: 3px #CF220E solid;
  margin-bottom:35px;
}

.content-container {
  width: 80%;
  margin: 20px auto;
}

h2 {
  max-width: 700px;
  margin: 20px 0px;
  background-color: #D9D9D9;
  padding: 10px;
}

h3{
  margin: 16px 0;
}

.blue-link {
  color: #54A9D9;
  font-weight: bold;
}

.login-submit {
  width: 100%;
  padding: 14px;
  margin: 20px 0;
  color: #ffffff;
  background-color: #CF220E;
  border: none;
  font-size: 20px;
  border-radius: 4px;
}

.login-submit:hover {
	cursor: pointer;
  }

input[type="email"],
input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  padding: 14px;
  margin-bottom: 12px;
  font-size: 18px;
}

/* ここからハンバーガメニューとヘッダーに関するCSS */
.school-info{
	display: none;
}

.c-header {
	align-items: center;
	background-color: #ffffff; /* カスタマイズしてください */
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem; /* カスタマイズしてください */
	width: 100%;
  }
  
  .c-header__logo {
	color: #000; /* カスタマイズしてください */
	min-width: 80px; /* カスタマイズしてください */
	text-decoration: none;
  }
  
  .c-header__list {
	box-sizing: border-box;
	display: flex;
	margin: 0;
	padding: 0;
  }
  
  .c-header__list-item {
	list-style: none;
	text-decoration: none;

  }
  
  .c-header__list-link {
	color: #000; /* カスタマイズしてください */
	display: block;
	margin-right: 20px; /* カスタマイズしてください */
	text-decoration: none;
	padding: 10px 0px; /* カスタマイズしてください */
	height: 100%;
  }
  .red-button {
	background-color: #CF220E ;
	border-radius: 4px;
	display: block;
	padding: 14px 18px;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	transition: all 250ms ease-in-out;
  }
  
  .c-header__list-link:hover {
	filter: opacity(0.6); /* カスタマイズしてください */
  }
  
  .c-hamburger-menu {
	position: relative;
  }
  
  
  .c-hamburger-menu__input {
	display: none;
  }
  
  .c-hamburger-menu__bg {
	background-color: #000; /* カスタマイズしてください */
	cursor: pointer;
	display: none;
	height: 100vh;
	left: 0;
	opacity: 0.4; /* カスタマイズしてください */
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
  }
  
  #hamburger:checked ~ .c-hamburger-menu__bg {
	display: block;
  }
  
  .c-hamburger-menu__button {
	display: none;
  }
  
  @media screen and (max-width: 1280px) {

	.school-info{
		display:block;
	}
	.c-hamburger-menu__list {
		background-color: #eeeeee; /* カスタマイズしてください */
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		left: 0;
		padding: 2rem; /* カスタマイズしてください */
		position: absolute;
		transform: translateX(-100%);
		/* transition: 0.3s; カスタマイズしてください */
		top: 100%;
		width: 100%;
		height: 100vh;
	   }

	
	  
	  #hamburger:checked ~ .c-hamburger-menu__list {
		transform: translateX(0%);
		transition: 0.3s;
	  }

	.c-hamburger-menu__button {
	  
	  align-items: center;
	  appearance: none;
	  background-color: transparent;
	  border: none;
	  cursor: pointer;
	  display: flex;
	  flex-direction: column;
	  gap: 10px; /* カスタマイズしてください */
	  height: 30px; /* カスタマイズしてください */
	  justify-content: center;
	  width: 30px; /* カスタマイズしてください */
	}
  }
  
  .c-hamburger-menu__button-mark {
	background-color: #000; /* カスタマイズしてください */
	display: block;
	height: 1px; /* カスタマイズしてください */
	transition: 0.3s; /* カスタマイズしてください */
	width: 30px; /* カスタマイズしてください */
	
  }
	#hamburger:checked
	  ~ .c-hamburger-menu__button
	  .c-hamburger-menu__button-mark:nth-of-type(1) {
	  transform: translate(2px, 1px) rotate(50deg); /* カスタマイズしてください */
	  transform-origin: 0%; /* カスタマイズしてください */
	}
	#hamburger:checked
	  ~ .c-hamburger-menu__button
	  .c-hamburger-menu__button-mark:nth-of-type(2) {
	  opacity: 0;
	}
	#hamburger:checked
	  ~ .c-hamburger-menu__button
	  .c-hamburger-menu__button-mark:nth-of-type(3) {
	  transform: translate(2px, 3px) rotate(-50deg); /* カスタマイズしてください */
	  transform-origin: 0%; /* カスタマイズしてください */
	}
	#hamburger:checked
	~ main {
		background-color: #eeeeee;
	}


/* ここまでハンバーガメニューとヘッダーに関するCSS */