.required {
    background-color: #CF220E;
    color: #ffffff;
    
}

input[type="password"],
input[type="tel"],
input[type="date"],
select {
  box-sizing: border-box;
  width: 100%;
  padding: 14px;
  margin-bottom: 12px;
  font-size: 18px;
}