@charset "UTF-8";
.modal {
    display: block;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 30%;
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 40%;
    height: 180px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animateShow;
    animation-duration: 0.5s
}
.modal-content h4 {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: solid 2px rgb(136, 136, 136, 0.8);
    width: 100%;
  }
  
.modal-content p {
    margin: 10px 6px;
}
  
.modal-content p {
    margin: 3px;
}
.modal-content .return-btn {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #fefefe;
    padding: 10px;
    border-radius: 4px;
    background-color: #CF220E;
}
@keyframes animateShow {
    from {opacity: 0}
    to {opacity: 1}
  }
.content-container {
    text-align: center;
} 
.content-container h3{
    text-align: start;
}
button[type="submit"]{
    width: 100%;
    box-sizing: border-box;
    background-color: #CF220E;
    color: #ffffff;
    /* 枠線を消す */
    border: none;
    /* クリックした際に枠線をnone消す */
    outline: none;
    border-radius: 4px;
}
button[type="submit"].active{
    background-color: #888888;
    color: #ffffff;
}
.alert_message{
    display: none;
}
.alert_message.active{
    width: 100%;
    height: 50px;
    display: block;
    background-color: #FF8989;
    border-radius: 4px;
}
.alert_message2{
    display: none;
}
.alert_message2.active{
    width: 100%;
    height: 50px;
    display: block;
    background-color: #FF8989;
    border-radius: 4px;
}
input[type="password"].active{
   background-color: #FF8989;
}

@media screen and (max-width: 1024px){
     /* main{
        width: 80%;
    } */
    p{
        font-size: 15px;
    } 
}
@media screen and (max-width: 900px) {
    h1{
        font-size: 20px;
    }
    p{
        font-size: 15px;
    }
    main{
        padding-bottom: 40px;
    }
    
    input[type="email"]{
        height: 20px;
        width: 70%;
    }
    input[type="password"]{
        width: 70%;
        padding:5px 10px;
        margin: 10px auto;
    }
    
    button[type="submit"]{
        width: 70%;
    }
}
@media screen and (max-width: 426px){ 
    /* button[type="submit"] {
        height: 25px;
        line-height:5px
    } */
    h1{
        font-size: 13px;
    }
    p{
        font-size: 10px;
    }
    main{
        padding-bottom: 40px;
    }
    .modal-content {
        width: 60%;
    }
      .modal-content h4 {
        font-size: 24px;
    }
      .modal-content p {
        font-size: 14px;
        margin: 0;
    }
}
