@charset "UTF-8";
.content-container {
	width: 70%;
}
table {
	width: 100%;
	margin: 0 auto;
}
table,
td,
th {
	border-collapse: collapse;
	/* border: 1.5px solid #000000; */
	border-bottom: 1px solid #9a9a9a;
	padding: 30px 10px;
}
th {
	width: 150px;
}
.login-submit {
	width: 40%;
	display: block;
	margin: 50px auto;
}


/* 電話番号のハイフン */
td { 
	font-size: 0;
}
/* 電話番号の入力スペース */
.size150 {
	width: 126px;
	height: 26px;
	padding: 10px;
}
/* 性別を選択するチェックボックス */
.fontSizeChange {
	font-size: 15px;
	padding: 0 7px;
}
/* 名前の入力箇所 */
.nameSpace {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 20px;
	width: 30%;
	height: 20px;
	padding:13px;
}
/* input部分 */
.width_100percent {
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding:10px;
}

.arrow {
	appearance: none;
	background-image: url(../../img/arrow.png);
	background-repeat: no-repeat;
	background-size: 18px auto;
	background-position: right 12px center; 
}