@charset "UTF-8";
.table_wrap {
    overflow-x: auto;
}

.table_wrap table {
    min-width: 2500px;
}

table {
    border-collapse: collapse;
    width: 0%;
    margin-bottom: 10px;
    border:1px solid #000000;
}
th,
td {
    height: 10px;
    word-break: break-word;
    border: 1px solid #000000;
    max-width: 250px;
    padding: 10px 18px;
    /* vertical-align: top; */
}
th {
    color: #ffffff;
    background-color: #ff0000;
}
/* テーブルを縞模様にする */
/* 奇数行のスタイル */
table tr:nth-child(odd){
    background-color:#f0f0f0;
}
/* 偶数行のスタイル */
table tr:nth-child(even){
    background-color:white;
}
/* 備考のスクロール */
.message_scroll {
    height: 80px;
    overflow: auto;
}
/* 検索 */
.searchTextBox{
    position: absolute;
}
.serchButton{
    padding: 40px;
    background: transparent;
    border: none;
    

    background-image: url(../../img/search.png);
    background-repeat: no-repeat;
    background-position: center center;    
    background-size: 30px;
    border-radius: 15px;

    position: relative;
    top: -10px;
    /* transform: translateY(-50%); */
    left: 90%;
}

.search-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    margin: 30px auto;
    background-color: #ececec;
    border-radius: 30px;
  }
  
  .search-input {
    padding-left: 20px;
    margin-left: 20px;
    border: 0;
    outline: 0;
    background: none;
    caret-color: #142d4c;
    font-size: 1.2em;
    line-height: 40px;
  }
  
  .search-btn {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 45px;
    border: 1.5px #142d4c solid;
    border-radius: 60%;
    transition: all 150ms ease-in-out;
  }
  
  .search-btn:hover {
    background-color: #142d4c;
    color: #ececec;
  }

  input[type="text"]{
    width: 100%;
    padding: 0px;
    margin-bottom: 0;
    font-size: 18px;
}