@charset "UTF=8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-wrap {
    box-sizing: border-box;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 5px 2px -2px gray;
    width: 100vw;
    padding: 12px 0;
}
header img {
    width: 420px;
    margin-left: 20px;
}
.red-button {
    background-color: #CF220E ;
    padding: 0px 12px;
    border-radius: 4px;
    display: block;
    padding: 14px 18px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    transition: all 250ms ease-in-out;
}
  
header .header{
    display: flex;
}
header .header2{
    display: flex;
    justify-content: space-between;
}
body {
	margin: 0;
	padding: 0;
	background: #f4f4f4;
	color: #444444;
	font-family: "Roboto", sans-serif;
	overflow-x: hidden;
}
main{
    max-width: 1400px;
    background-color: #fff;
    margin: 0 auto;
    padding: 120px 40px;
}
.locatoin{
    color: grey;
    font-weight: bold;
    margin-bottom: 10px;
}
.locatoin a{
    text-decoration: none;
    color: #54A9D9;
}
h1{
    border-bottom: 3px #CF220E solid;
    margin-bottom: 30px;
}
.content-container {
    width: 700px;
    margin: 0 auto;
    height: 1000px;
}
h2 {
    margin: 20px 0px;
    background-color: #D9D9D9;
    padding: 10px;
}
/*ここからアカウント削除のCSS*/
h2{
    margin-top: 50px;
    width: 80%;
    margin: 0 auto;
}
.delete-form{
    width: 75%;
    margin: 0 auto;
    margin-top: 30px;
}
.delete-form .red-button{
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
}
.delete-form input{
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;
}
.delete-form h3{
    font-size: 1.5em;
}
.delete-form .forget-passwd{
    margin-top: 10px;
    font-size: 1.2em;
}
.delete-form .red-button{
    border: none;
}
/*削除確認ページ*/
.check{
    text-align: center;
    justify-content: space-between;
}
.check button{
    flex-basis: 40%;
}
.check a{
    flex-basis: 40%;
}
.content-container .check-delete{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #CF220E;
}
/*削除成功ページ*/
.success{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    margin-top: 50px;
}
/*ここまでアカウント削除のCSS*/
/*エラー文章*/
.error{
    width: 80%;
    background-color: #FF8989;
    border-radius: 4px;
    padding: 20px 10px;
    margin: 30px auto;
    font-size: large;
    font-weight: bold;
    color: #000;
}
.error-input{
    background-color: #FF8989;
    border: #000 2px solid;
}
.error-font{
    font-size: 1em;
    margin-top: -20px;
    margin-bottom: 20px;
    color: #CF220E;
}
.faluse-button{
    padding-bottom: 40px;
}
/*モバイル対応*/

/* スマホ向け*/
@media (max-width: 370px){
    .content-container{
        max-width: 370px;
        width: 100%;
    }
    main{
        font-size: 0.5em;
    }
    .red-button{
        font-size: 2em;
    }
    .error{
        font-size: 1em;
    }
    .faluse-button{
        font-size: 1.5em;
        padding-bottom: 30px;
    }
    .check{
        font-size: 0.5em;
    }

}
@media (min-width: 370px) and  (max-width: 600px) {
    .content-container{
        max-width: 600px;
        width: 100%;
    }
    main{
        font-size: 2vw;
    }
    h2{
        font-size: 1.4em;
    }
    .red-button{
        font-size: 1.5em;
    }
    .delete-form input{
        max-width: 600px;
    }
    .error{
        font-size: 1.5em;
    }
    .error-font{
        font-size: 1.5em;
    }
    .check{
        font-size: 1em;
    }
}

/* タブレット向け（画面幅が601pxから900px） */
@media (min-width: 601px) and (max-width: 900px) {
    .content-container{
        max-width: 900px;
        width: 100%;
    }
    main{
        font-size: 2vw;
    }
    .error{
        font-size: 1em;
    }
}

/* PC向け（画面幅が901px以上） */
@media (min-width: 901px) {
    
}
/*ここまででマイページのCSS終わり*/
