:root {
    --primary-color: #CF220E;
    --text-color: #1d1d1d;
    --bg-color: #f1f1fb;
}

.required {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 2px 3px;
  border-radius: 6px;
  margin-right: 3px;
}

h3 {
  display: inline-block;
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.calendar-container {
  flex-basis: 60%;
}

.calendar {
    background: var(--bg-color);
    padding: 30px 20px;
    border-radius: 10px;
}

.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--primary-color);
}
.calendar .header .month {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
  }
  .calendar .header .btn {
    width: 50px;
    height: 40px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .calendar .header .btn:disabled, .btn[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    border: none;
    color: #666666;
    cursor: auto;
  }
  .calendar .header .btn:not(.btn:disabled, .btn[disabled]):hover {
    transform: scale(1.05);
  }
  .calendar .weekdays {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  .calendar .weekdays .day {
    width: calc(100% / 7 - 10px);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }
  .calendar .days {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .calendar .days .day {
    width: calc(100% / 7 - 10px);
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    transition: all 0.3s;
    user-select: none;
  }
  .calendar .days .day:not(.next):not(.prev):not(.current-prev):hover {
    color: #fff;
    background: var(--primary-color);
    transform: scale(1.05);
    cursor: pointer;
  }
  .calendar .days .day.next,
  .calendar .days .day.prev,
  .calendar .days .day.current-prev {
    color: #ccc;
  }
  .calendar .days .day.active {
    color: #fff;
    background: var(--primary-color);
  }

  .day-info {
    flex-basis: 35%;
  }

  .day-info ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, auto);
    column-gap: 1.5em;
  }
  .day-info ul li.time {
    background-color: var(--bg-color);
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 6px;
    text-align: center;
  }
  .day-info ul li .time .reserved {
    color: #ccc;
  }
  .day-info ul li.time:not(.reserved):hover {
    background-color: var(--primary-color);
    cursor: pointer;
    color: #ffffff;
  }
  .day-info ul li.active {
    background-color: var(--primary-color);
    cursor: pointer;
    color: #ffffff;
  }
  .day-info button {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    color: #ffffff;
    background-color: var(--primary-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
@media screen and (min-width: 768px) {
    .content-container {
        width: 70%;
    }
}