@charset "UTF=8";
*{
    margin: 0;
    padding: 0;
}
.header-wrap {
    box-sizing: border-box;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 5px 2px -2px gray;
    width: 100vw;
    padding: 12px 0;
}
header img {
    width: 420px;
    margin-left: 20px;
}
.participation_history-button {
    background-color: #CF220E ;
    padding: 0px 12px;
    border-radius: 4px;
    display: block;
    padding: 14px 18px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    transition: all 250ms ease-in-out;
}
  
header .header{
    display: flex;
}
header .header2{
    display: flex;
    justify-content: space-between;
}
body {
	margin: 0;
	padding: 0;
	background: #f4f4f4;
	color: #444444;
	font-family: "Roboto", sans-serif;
	overflow-x: hidden;
}
main{
    max-width: 1400px;
    background-color: #fff;
    margin: 0 auto;
    padding: 120px 40px;
}
h1{
    border-bottom: 3px #CF220E solid;
    margin-bottom: 30px;
}
.content-container {
    width: 700px;
    margin: 0 auto;
}
h2 {
    margin: 20px 0px;
    background-color: #D9D9D9;
    padding: 10px;
}
/*ここから参加履歴についてのCSS*/
*{
    box-sizing: border-box;
}
.locatoin{
    color: grey;
    font-weight: bold;
    margin-bottom: 10px;
}
.locatoin a{
    text-decoration: none;
    color: #54A9D9;
}

.participation {
    background-color: #e3e2de;
    padding:  20px 30px;
    width: 75%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 60px;
    max-height: 100%;
    font-size: larger;
    border-radius: 20px;
}
.content-container h3{
    font-size: 1.5em;
    padding-top: 7px;
}

.content-container table{
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    border-collapse: collapse;
    background-color: #fff;
    font-size: 1.2em;
}
table,
th,
td {
    border: 3px solid black;
}
.content-container thead{
    font-size: 1.2em;
    background-color: #CF220E;
    color: #ffffff;
}
.button{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.none-participation{
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.delete-history{
    margin-top: 10px;
    text-align: right;
}
.delete-history button{
    border: none;
    background-color: #e3e2de;
    font-size: 1em;
}
.delete-history span{
    color: #0055a6;
}
.mypage-move{
    margin-top: 20px;
    text-align: center;
}
/*ダイアログ*/
.dialogDemo {
    margin: 100px auto 0;
    font-size: 30px;
    font-weight: bold;
    padding: 40px 70px;
    border-radius: 20px;
}
.chose{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.yes,
.no,
.close {
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    background-color: #CF220E;
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
}
.close-font{
    text-align: center;
    margin-top: 20px;
}
.deletedialog{
    top: 100px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    padding: 40px 70px;
    border-radius: 20px;
}
/*モバイル対応*/

/* スマホ向け*/
@media (max-width: 370px){
    .content-container{
        max-width: 370px;
        width: 100%;
    }
    main{
        font-size: 3vw;
    }
    .move-button{
        font-size: 1rem;
    }
    .content-container table{
        max-width: 370px;
    }
    .No{
        width: 1%;
    }
    .day{
        width: 60%;
    }
    .time{
        width: 39%;
    }
    .No,
    .day,
    .time{
        font-size: 0.8rem;
    }
    .table-size{
        font-size: 0.8rem;
    }
    .dialogDemo{
        font-size: 1.3em;
    }
    .yes,
    .no,
    .close {
        font-size: 0.8em;
    }
    .chose{
        font-size: 0.8em;
    }
    .close-font{
        font-size: 1.3em;
    }
    .deletedialog{
        font-size: 1.5em;
    }
}
@media (min-width: 370px) and  (max-width: 600px) {
    .content-container{
        max-width: 600px;
        width: 100%;
    }
    main{
        font-size: 3vw;
    }
    .move-button{
        font-size: 1em;
    }
    .content-container table{
        max-width: 600px;
    }
    .No{
        width: 1%;
    }
    .day{
        width: 60%;
    }
    .time{
        width: 39%;
    }
    .No,
    .day,
    .time{
        font-size: 0.5em;
    }
    .table-size{
        font-size: 0.8em;
    }
    .dialogDemo{
        font-size: 1.5em;
    }
    .chose{
        font-size: 0.1em;
    }
    .yes,
    .no,
    .close {
        width: 100%;
        font-size: 1rem;
    }
    .close-font{
        font-size: 1.2em;
    }
    .deletedialog{
        font-size: 1.5em;
    }

}

/* タブレット向け（画面幅が601pxから900px） */
@media (min-width: 601px) and (max-width: 900px) {
    .content-container{
        max-width: 900px;
        width: 100%;
    }
}

@media (min-width: 900px){
    
}

/*ここまで参加履歴についてのCSS*/
