@charset "UTF-8";

/* ------------- テーブル ------------- */
.table_wrap {
    overflow-x: auto;
}

.table_wrap table {
    min-width: 2500px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
    border:1px solid #000000;
}
th,
td {
    height: 10px;
    word-break: break-word;
    border: 1px solid #000000;
    max-width: 250px;
    padding: 10px 18px;
    /* vertical-align: top; */
}
th {
  color: #ffffff;
  background-color: #ff0000;
}
.table_td {
    height: 80px;
    overflow:  hidden scroll;
}
/*------------------------------------- */